[submodule "mcu-stc89-led"]
	path = mcu-stc89-led
	url = git@github.com:denglitong/mcu-stc89-led.git
[submodule "mcu-stc89-tube"]
	path = mcu-stc89-tube
	url = git@github.com:denglitong/mcu-stc89-tube.git
[submodule "mcu-stc89-led-matrix"]
	path = mcu-stc89-led-matrix
	url = git@github.com:denglitong/mcu-stc89-led-matrix.git
[submodule "mcu-stc89-key"]
	path = mcu-stc89-key
	url = git@github.com:denglitong/mcu-stc89-key.git
[submodule "mcu-stc89-calculator"]
	path = mcu-stc89-calculator
	url = git@github.com:denglitong/mcu-stc89-calculator.git
[submodule "mcu-stc89-motor"]
	path = mcu-stc89-motor
	url = git@github.com:denglitong/mcu-stc89-motor.git
[submodule "mcu-stc89-buzzer"]
	path = mcu-stc89-buzzer
	url = git@github.com:denglitong/mcu-stc89-buzzer.git
[submodule "mcu-stc89-pwm"]
	path = mcu-stc89-pwm
	url = git@github.com:denglitong/mcu-stc89-pwm.git
[submodule "mcu-stc89-traffic-light"]
	path = mcu-stc89-traffic-light
	url = git@github.com:denglitong/mcu-stc89-traffic-light.git
[submodule "mcu-stc89-long-key"]
	path = mcu-stc89-long-key
	url = git@github.com:denglitong/mcu-stc89-long-key.git
[submodule "mcu-stc89-io-simulation"]
	path = mcu-stc89-io-simulation
	url = git@github.com:denglitong/mcu-stc89-io-simulation.git
[submodule "mcu-stc89-io"]
	path = mcu-stc89-io
	url = git@github.com:denglitong/mcu-stc89-io.git
[submodule "mcu-stc89-io-control"]
	path = mcu-stc89-io-control
	url = git@github.com:denglitong/mcu-stc89-io-control.git
[submodule "mcu-stc89-io-ptr"]
	path = mcu-stc89-io-ptr
	url = git@github.com:denglitong/mcu-stc89-io-ptr.git
[submodule "mcu-stc89-lcd1602"]
	path = mcu-stc89-lcd1602
	url = git@github.com:denglitong/mcu-stc89-lcd1602.git
