[submodule "mcu-stc89-led"]
	path = mcu-stc89-led
	url = git@github.com:denglitong/mcu-stc89-led.git
[submodule "mcu-stc89-tube"]
	path = mcu-stc89-tube
	url = git@github.com:denglitong/mcu-stc89-tube.git
[submodule "mcu-stc89-led-matrix"]
	path = mcu-stc89-led-matrix
	url = git@github.com:denglitong/mcu-stc89-led-matrix.git
[submodule "mcu-stc89-key"]
	path = mcu-stc89-key
	url = git@github.com:denglitong/mcu-stc89-key.git
